@page
	{ margin: 0cm; }

body
	{ margin: 0cm; }

h1,
ul#tools_menu,
#stopPanel,
#mapKeyPanel,
#schemePanel
	{ display: none; }

#mapPanel
{
	width: 29.7cm;
	height: 21cm;

	margin: 0cm;
	padding: 0cm;

	border: none;
}

.olControlPermalink,
.olControlLayerSwitcher,
.olControlPanZoomBar,
.MapStatus
	{ display: none !important; }
